---
import Layout from '../layouts/Layout.astro';
---

<Layout title="All Posts">
	<main>
		<h1>All Posts</h1>
        <p><a href="/jams">Jams</a></p>
		<p><a href="/posts">Posts</a></p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
