---
import getSortedCollection from "../lib/getSortedCollection";
import Layout from '../layouts/Layout.astro';

const entries = await getSortedCollection('posts');
---

<Layout title="Posts">
	<main>
		<h1>Posts</h1>
		{
			entries.map((entry) => (
				<p><a href={"/posts/" + entry['slug']}>{entry['data']['title']}</a></p>
			))
		}
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
