<footer class="bottom-0 text-center w-full py-4 px-6">
    <small class="text-gray-500">Copyright ©
        {{settings.name}}
        {{ helpers.currentYear() }}. Made with 🥯 by
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
        •
        <a href="/feed.xml" class="underline" target="_blank" rel="noopener">Feed</a>
        •
        <a href="https://twitter.com/bricomedy" class="underline" target="_blank" rel="noopener">Twitter</a>
        •
        <a href="https://github.com/backlineint" class="underline" target="_blank" rel="noopener">Github</a>
    </small>
</footer>
