---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://unpkg.com/open-props"/>
		<link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/open-props/masks.edges.min.css"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <nav>
      <h3>Brian Perry</h3>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
		<slot />
	</body>
</html>
<style is:global>
  nav {
    max-width: var(--size-xl);
    margin: 0 auto;
  }
  h3 {
    background: var(--gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  * + * {
	margin-top: 1.5em;
}
body {
  /* background-image: url("https://img.freepik.com/free-vector/80-style-background-with-geometric-shapes_23-2148216130.jpg?w=1380&t=st=1685496794~exp=1685497394~hmac=90ed3cf13767bcaf89f3f65c096dcfe20b586b5a40fc50981e9a8714f463b467");
  background-image: url("https://img.freepik.com/free-vector/geometric-background-80s-style_23-2148242342.jpg?w=1380&t=st=1685496861~exp=1685497461~hmac=d05da0ad2575eed73d1f3a0113fac60c09f5fdab4a26281a6f85bf6243b0a036"); */
  background-image: url("/images/rad_light.jpg");
  @media (prefers-color-scheme: dark) {
	background-image: url("/images/rad_dark.jpg");
  }
  background-size: cover;
  background-attachment: fixed;
}
img {
    box-shadow: var(--inner-shadow-5);
    border-radius: var(--radius-3);
    /* border: var(--border-size-2) solid var(--surface-3); */
  }
	/* :root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	} */
</style>
