---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Brian Perry",
    "subtitle": "Writing about web development and other things I enjoy",
    "url": "https://brianperry.dev/",
    "feedUrl": "https://brianperry.dev/feed.xml",
    "author": {
      "name": "Brian Perry",
      "email": "heybrianperry@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <description>{{ metadata.subtitle }}</description>
    <language>en</language>
    {%- for post in collections.all | reverse %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <item>
            <title>{{ post.data.title }}</title>
            <link>{{ absolutePostUrl }}</link>
            <description>{{ post.data.feed_excerpt | htmlToAbsoluteUrls(absolutePostUrl) | feedEncode }}</description>
            <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
            <dc:creator>{{ metadata.author.name }}</dc:creator>
            <guid>{{ absolutePostUrl }}</guid>
        </item>
    {%- endfor %}
  </channel>
</rss>